/* theme color */

/*кнопка*/
$--color-primary: #E70068;
$--button-default-fill:  #E70068;
$--button-default-color: #FFFFFF;
$--button-padding-vertical: 16px;
$--button-padding-horizontal: 30px;
$--button-font-size: 15px;
$--button-border-radius: 0px;

/*сообщение о покупке*/
$--badge-fill: #E70068;


/*Поиск*/
$--border-color-light: #000000;

/*Ползунок*/
$--slider-button-size: 15px;
$--slider-height: 1px;
$--slider-runway-background-color: #c4c4c4;
$--slider-main-background-color: #6a0030;
$--slider-button-wrapper-offset: -17px;
/*Select*/
$--select-input-color: #c4c4c4;
$--select-multiple-input-color: #000000;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "sweet-theme/index";

//colors
//$white: #fff;
