/* theme color */

/*кнопка*/
$--color-primary: red;
$--button-default-fill:  #E70068;
$--button-default-color: #FFFFFF;
$--button-padding-vertical: 16px;
$--button-padding-horizontal: 30px;
$--button-font-size: 15px;
$--border-base: none;
$--button-border-radius: 0px;

/*сообщение о покупке*/
$--badge-fill: #E70068;


/*Поиск*/
$--border-color-light: #000000;

/*Select*/
$--select-input-color: #c4c4c4;
$--select-multiple-input-color: #000000;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "sweet-theme/index";

//colors
//$white: #fff;
