@font-face
  font-family: "ProximaNova"
  src: url("fonts/ProximaNova-Bold.eot")
  src: url("fonts/ProximaNova-Bold.eot?#iefix") format('embedded-opentype'), url("fonts/ProximaNova-Bold.woff2") format("woff2"), url("fonts/ProximaNova-Bold.woff") format("woff"), url("fonts/ProximaNova-Bold.ttf") format("truetype"), url("fonts/ProximaNova-Bold.svg") format("svg")
  font-weight: 700
  font-style: normal
  font-display: swap

@font-face
  font-family: "ProximaNova"
  src: url("fonts/ProximaNova-Regular.eot")
  src: url("fonts/ProximaNova-Regular.eot?#iefix") format('embedded-opentype'), url("fonts/ProximaNova-Regular.woff2") format("woff2"), url("fonts/ProximaNova-Regular.woff") format("woff"), url("fonts/ProximaNova-Regular.ttf") format("truetype"), url("fonts/ProximaNova-Regular.svg") format("svg")
  font-weight: 400
  font-style: normal
  font-display: swap

.header, .footer
  font-family: "ProximaNova", "Arial", sans-serif
  font-size: 15px
  color: #000000
  font-weight: 400
  line-height: 25px

body
  color: #000000
  font-size: 15px
  font-family: "ProximaNova", "Arial", sans-serif

button:active, button:focus
  outline: none !important

a:active, a:focus
  outline: none !important

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  border: 0
  padding: 0
  white-space: nowrap
  clip-path: inset(100%)
  clip: rect(0 0 0 0)
  overflow: hidden

img
  max-width: 100%
  height: auto


.row, .container
  box-sizing: content-box

.container
  @media (max-width: 575.98px)
    width: calc(100% - 30px) !important


.title
  font-size: 30px
  line-height: 35px
  font-weight: 700

.el-message .el-icon-info
  display: none

// @media (max-width: 330.98px)
//   margin:
//     left: -5px
// .btn-prev, .btn-next
//   @media (max-width: 575.98px)
//     margin:
//       left: 0 !important
//       right: 0 !important



// При открытом меню
body.no-scroll
  height: 100vh
  overflow: hidden

