@font-face
  font-family: "ProximaNova"
  src: url("fonts/ProximaNova-Bold.woff") format("woff")
  font-weight: 700
  font-style: normal
  font-display: swap

@font-face
  font-family: "ProximaNova"
  src: url("fonts/ProximaNova-Regular.woff") format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

.header, .footer
  font-family: ProximaNova
  font-size: 15px
  color: #000000
  font-weight: 400
  line-height: 25px

.home
	font-family: ProximaNova
	font-size: 15px
	color: #000000
	font-weight: 400
	line-height: 25px

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden
	position: absolute
	width: 1px
	height: 1px
	margin: -1px
	border: 0
	padding: 0
	white-space: nowrap
	clip-path: inset(100%)
	clip: rect(0 0 0 0)
	overflow: hidden

img
	max-width: 100%
	height: auto	


.row, .container
	box-sizing: content-box


.about
  font-family: ProximaNova
  font-size: 15px
  color: #fff
  font-weight: 400
  line-height: 25px

.aboutus
  margin-top: 10px
  position: relative
  background-color: grey
  background-image: url("assets/about_back.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: 0 -230px
  padding:
    left: 70px
    top: 35px
    right: 70px
    bottom: 0px
  color: #ffffff

  &__title
    font-size: 30px
    line-height: 35px

  &__description
    max-width: 956px
    margin-top: 42px

  &__schedule
    //display: flex
    margin-top: 74px
    justify-content: space-around

  &__item
    display: flex

  &__item-icon
    padding-right: 25px

  &__item-wrapper
    padding-top: 5px

  &__item-title
    font-size: 20px

  &__item-subtitle
    font-size: 15px
    color: #c4c4c4

  &::after
    height: 470px
    z-index: 10
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-image: url("assets/back_back.png")

  &__wrapper
    z-index: 100
    position: relative


.support
  background-color: #000
  padding:
    left: 70px
    top: 90px
    right: 70px
    bottom: 74px
  color: #ffffff

  &__title
    font-size: 30px
    line-height: 35px

  &__description
    max-width: 956px
    margin-top: 42px


.contacts
  font-family: ProximaNova
  font-size: 15px
  color: #000000
  font-weight: 400
  line-height: 25px

.map
  height: 400px

.data
  margin:
    top: 50px
    bottom: 50px
  &__title
    text-align: center
    margin-bottom: 82px
    font-size: 30px
    line-height: 37px
    font-weight: 700
  &__wrapper
    display: flex
    justify-content: space-between
  &__element
    color: #000000
    background-color: #F8F8F8
    padding:
      top: 40px
      left: 35px
      bottom: 28px
      right: 110px
  &__element-title
    font-size: 20px
    line-height: 24px
    font-weight: 700
    margin-bottom: 20px
  &__element-description
    line-height: 18px
    margin-bottom: 35px
  &__element-description a
    color: #000000
  &__element-wrapper
    display: inline-block
  &__element-icon
    display: inline-block
    margin-right: 20px
  &__element-inst
    color: #707070





